server {
    listen 80;
    server_name magento.test;
    set $MAGE_ROOT /var/www/html/magento;
    set $FastCGI_PASS fastcgi_74;

    access_log off;
    error_log /var/log/nginx/magento.test_error.log;

    include conf.d/public/mage244.conf;
}
