
# www source directory
# 该目录对应容器的 /var/www/html 目录
#
WWW_DIR=~/www

#
# Composer
#
COMPOSER_HOME=~/.composer

#
# php8
# https://hub.docker.com/_/php/tags
#
PHP8_VERSION=8.3
PHP8_IMAGE=php/laravel:$PHP8_VERSION-fpm

#
# Nginx
# https://hub.docker.com/_/nginx/tags
#
NGINX_VERSION=1.23-alpine
NGINX_PORT=80
NGINX_SSL_PORT=443

#
# Container Timezone
#
#TZ=Asia/Shanghai
TZ=UTC

#
# Linux sources mirrors
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
#
SOURCES_MIRRORS=mirrors.ustc.edu.cn
