#
# www source directory
#
SOURCE_DIR=/home/www
SOURCE_DIR_WSL=/mnt/d/www

#
# php7.2
# https://hub.docker.com/_/php/tags?page=1&name=7.2
# 
PHP72_VERSION=7.2.34-fpm
PHP72_MAGE_IMAGE=php/mage:7.2.34-fpm

#
# php7.4
# https://hub.docker.com/_/php/tags?page=1&name=7.4
#
PHP74_VERSION=7.4.15-fpm
PHP74_MAGE_IMAGE=php/mage:7.4.15-fpm

#
# php8.1
# https://hub.docker.com/_/php/tags?page=1&name=8.1
#
PHP81_VERSION=8.1.7-fpm
PHP81_MAGE_IMAGE=php/mage:8.1.7-fpm

#
# Composer
#
COMPOSER_HOME_DOCKER=/tmp/.composer
COMPOSER_HOME_WSL=/root/.composer

#
# MySQL8
# https://hub.docker.com/_/mysql/tags?page=1&name=8.0
#
MYSQL_VERSION=8.0.21
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=adminmagento
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento

#
# Redis
# https://hub.docker.com/_/redis/tags
#
REDIS_VERSION=6.2.7
REDIS_PORT=6379
REDIS_PASSWORD=magento

#
# Elasticsearch
#
ES_VERSION=7.6.2
ES_PORT_C=9200
ES_PORT_S=9300

#
# Rabbitmq
# https://hub.docker.com/_/rabbitmq/tags
#
RABBITMQ_VERSION=3-management-alpine
RABBITMQ_PORT_C=5672
RABBITMQ_PORT_S=15672
RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=magento

#
# Nginx
# https://hub.docker.com/_/nginx/tags
#
NGINX_VERSION=1.19.2
NGINX_PORT=80

#
# Container Timezone
#
#TZ=Asia/Shanghai
TZ=UTC

#
# Linux sources mirrors
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
#
SOURCES_MIRRORS=mirrors.ustc.edu.cn
